{{ define "main" }}
<!-- page title area start -->
<section class="page__title p-relative pt-200 pb-200" data-background="/assets/img/page-title/page-title-5.jpg">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="page__title-inner text-center">
                  <div class="page__title-breadcrumb">                                 
                      <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="https://wphix.com/template/sycho-prv/sycho/index.html">Home</a></li>
                          <li class="breadcrumb-item"><a href="services.html">services</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Family Counseling</li>
                      </ol>
                      </nav>
                  </div>
                  <h1>Family Counseling</h1>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- page title area end -->
  
<!-- services details area start -->
<section class="services__details pt-120 pb-80">
  <div class="container">
      <div class="row">
          <div class="col-xl-4 col-lg-4">
              <div class="services__details-wrapper">
                  <div class="services__details-list grey-bg-3 sidebar-wrapper mb-30">
                      <div class="sidebar-title">
                          <h3>Popular Services</h3>
                      </div>
                      <div class="sidebar-list">
                          <ul>
                            {{ range (where .Site.Pages "Section" "services") }}
                              <li>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                              </li>
                            {{ end }}
                          </ul>
                      </div>
                  </div>
                  <div class="services__support p-relative text-center mb-30" data-background="assets/img/services/services-support.jpg">
                      <div class="services__support-inner p-relative">
                          <h1>Have Any Query?</h1>
                          <a href="contact.html" class="s-btn s-btn__square s-btn__square-white">contact now</a>
                      </div>
                  </div>
                  <div class="services__appointment grey-bg-3">
                      <div class="sidebar-title mb-30">
                          <h3>Book an Appointment</h3>
                      </div>
                      <div class="services__appointment-form">
                          <form action="services-details.html#">
                              <input type="text" placeholder="Name">
                              <input type="email" placeholder="Email">
                              <select>
                                  <option> Subject</option>
                                  <option> Choose an option</option>
                                  <option> Choose an option</option>
                                  <option> Choose an option</option>
                                  <option> Choose an option</option>
                              </select>
                              <textarea cols="30" rows="10" placeholder="Message"></textarea>
                              <button class="s-btn s-btn__square s-btn__square-2">appointment now</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-8 col-lg-8">
              <div class="services__des-wrapper">
                  <div class="services__details-img w-img mb-35">
                      <img src="/assets/img/services/details/services-details-img.jpg" alt="">
                  </div>
                  <div class="services__des-title mb-30">
                      <h1>Family Counseling</h1>
                      <p>Form that bearing earth made set likeness god under own male tree behold upon in bete fill Under fruit bring may moving also gathered were fourth stars. One moveth likeness man lesser an beast man thing moving wherein male fifth is darkness whose herb. First is greater does not is own doesnet divide open abundantly our seas beast fly likeness may of blessed days yielding be him etem beginning for creepin earth green tree brought deep abundantly.</p>
                      <p>Imperdiet vehicula semper faucibus hemel urna porta hymenaeos litora a arcu dolor lectus auctor arcu consequat tellus inceptos doing accumsan vestibulum ornare sodales namer auctor suspendisse enim fringilla sollicitudin dictum maner cause aenean habitant.</p>
                  </div>
                  <div class="services__des-item">
                      <h3>Steps Towards Wellness</h3>
                      <p>Curae dapibus interdum ide cursus item amet a ipsum varius libero dui potenti, odio morbi scelerisque imperdiet duis libero interdum quisque vitae mattis ass vehicula sociis accumsan libero magna nostra consequat nec felis litora convallis orci nibh in volutpat fusce cubilia placerat phasellus pede pharetra, vel lobortis ultrices odio a accumsan orci nisl elementum pretium, duis tempus dolor a tempor inceptos facilisis doner cause be art geius color quis.</p>

                      <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <div class="services__des-img w-img mb-35">
                                  <img src="/assets/img/services/details/services-details-sm.jpg" alt="">
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <div class="services__des-img w-img mb-35">
                                  <img src="/assets/img/services/details/services-details-sm-2.jpg" alt="">
                              </div>
                          </div>
                      </div>

                      <div class="services__des-item services__des-list mb-15">
                          <h3>Quality Care From Quality Experts</h3>
                          <ol type="A">
                              <li><p>Praesent luctus imperdiet suscipit mollis sed and imperdiet consequat sociis ornare velit scelerisque sit dis suscipit commodo potenti tellus sociis duis leo magna commodlla.</p>
                              </li>
                              <li>
                                  <p>Sociis imperdiet viverra netus nostra vehicula nunc mauris. Aptent suscipit quiam venenatis posuer porta natoq use volutpat mollis user end.</p>
                              </li>
                              <li>
                                  <p>Donec nulla sit class orci scelerisque pede auctor lacinia sagittis eu quisque netus sem nascetur fau cibus interdum quisque curae; phasellus vestibulum hymenaeos feugiat etiam libero eros malesu ada felis laoreet ever fresh doin colo met facilisis.</p>
                              </li>
                              <li>
                                  <p>Nonummy ads facilisi euismod dapibus vulputate massa posuere nam ullamcorper torquent habitant felis convallis consequat volutpat etiam vestibulum quis molestie.</p>
                              </li>
                              <li>
                                  <p>Luctus lobortis pede idea at suspendisse purus luctus adipiscing sodales lorem euismod a phasellus orci dictumst integer scelerisque quisque.</p>
                              </li>
                          </ol>
                      </div>

                      <div class="services__des-video">
                          <h3>Helping You Walk Again</h3>
                          <p>Penatibus rutrum faucibus adipiscing ute curae velit sodale per natoque nostra fames semper est cras nulla vivamus feugiat sed aliquam morbi quam mollis scelerisque netus vestibulum.</p>
                          <div class="services__des-video-img mb-35 p-relative" data-background="assets/img/services/details/services-video-bg.jpg">
                              <div class="services__des-video-btn">
                                      <a href="https://youtu.be/yJg-Y5byMMw" data-fancybox class="play-btn play-btn-pink"><i class="far fa-play"></i></a>
                              </div>
                          </div>
                          <p>Form that bearing earth made set likeness god under own male tree behold upon in bete fill Under fruit bring may moving also gathered were fourth stars. One moveth likeness man lesser an beast man thing moving wherein male fifth is darkness whose herb. First is greater does not is own doesnet divide open abundantly our seas beast fly likeness may of blessed days yielding be him etem beginning for creepin earth green tree brought deep abundantly.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- services details area end -->
 {{ end }}