{{ define "main" }}

<!-- team area start -->
<section class="team__details pb-50">
  <div class="container">
    <div class="section__title mb-70 text-center">
      <h1>Clinical Team</h1>
    </div>
    <div class="row">
      <div class="col-xl-2 col-lg-2 sidebar_member d-flex">
        <div class="team__sidebar">
          <div class="team__item">
            <div class="team__thumb w-img fix p-relative">
              <img class="transition-3" src="{{.Params.managementArea.image}}" alt="team-1" />
            </div>
            <div class="team__content text-center white-bg transition-3">
              <div class="team__name">
                <h3>{{.Params.managementArea.name1}}</h3>
                <span>{{.Params.managementArea.span1}}</span>
              </div>
              <div class="team__info">
                <div class="team__social-2 social transition-3">
                  <ul>
                    <li>
                      <a href="{{.Params.managementArea.facebook1}}"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="{{.Params.managementArea.linkedin1}}"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-10 col-lg-10">
        <div class="team__details-wrapper" id="detailsWrapper1">
          <div class="team__details-item mb-30">
            <div class="team__details-title mb-20">
              <h2>{{.Params.managementArea.title1}}</h2>
            </div>
            <div class="team__details-content">
              <div class="team__biography" id="biographyContent1" style="max-height: 300px; overflow: hidden;">
                <p>{{.Params.managementArea.memberdetail1}}</p>
                <p>{{.Params.managementArea.memberdetail11}}</p>
              </div>
            </div>
          </div>
        </div>
        <button class="read-more-btn" id="readMoreBtn1" onclick="toggleReadMore('detailsWrapper1', 'readMoreBtn1')">Read More</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-2 mt-50">
        <div class="team__sidebar">
          <div class="team__item">
            <div class="team__thumb w-img fix p-relative">
              <img class="transition-3" src="{{.Params.managementArea.image2}}" alt="team-2" />
            </div>
            <div class="team__content text-center white-bg transition-3">
              <div class="team__name">
                <h3>{{.Params.managementArea.name2}}</h3>
                <span>{{.Params.managementArea.span2}}</span>
              </div>
              <div class="team__info">
                <div class="team__social-2 social transition-3">
                  <ul>
                    <li>
                      <a href="{{.Params.managementArea.facebook2}}"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="{{.Params.managementArea.linkedin2}}"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-10 col-lg-10">
        <div class="team__details-wrapper" id="detailsWrapper2">
          <div class="team__details-item mb-30">
            <div class="team__details-title mt-50">
              <h2>{{.Params.managementArea.title2}}</h2>
            </div>
            <div class="team__details-content">
              <div class="team__biography" id="biographyContent2" style="max-height: 300px; overflow: hidden;">
                <p>{{.Params.managementArea.memberdetail2}}</p>
                <p>{{.Params.managementArea.memberdetail21}}</p>
              </div>
            </div>
          </div>
        </div>
        <button class="read-more-btn" id="readMoreBtn2" onclick="toggleReadMore('detailsWrapper2', 'readMoreBtn2')">Read More</button>
      </div>
    </div>
  </div>
</section>
<!-- team area end -->
<!-- style css -->
 <style>
  #detailsWrapper {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#detailsWrapper.expanded {
  max-height: 1000px; /* Adjust this to accommodate more content or set to 'none' */
}

.read-more-btn {
  display: block;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

 </style>
 <!-- style css end -->
<!-- JavaScript -->
<script>
  function toggleReadMore(detailsWrapperId, readMoreBtnId) {
    const detailsWrapper = document.getElementById(detailsWrapperId);
    const readMoreBtn = document.getElementById(readMoreBtnId);
    const biographyContent = document.getElementById(`biographyContent${detailsWrapperId.replace('detailsWrapper', '')}`);

    // Check if the content is already expanded
    if (biographyContent.style.maxHeight === "300px") {
      biographyContent.style.maxHeight = "none"; 
      biographyContent.style.overflow = "visible"; 
      readMoreBtn.textContent = 'Read Less'; 
    } else {
      biographyContent.style.maxHeight = "300px"; 
      biographyContent.style.overflow = "hidden"; 
      readMoreBtn.textContent = 'Read More'; 
    }
  }
</script>

{{ end }}
