{{ define "main" }}
<!-- page title area start -->
<section
  class="page__title p-relative pt-200 pb-200"
  data-background="/assets/img/page-title/page-title.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="page__title-inner text-center">
          <div class="page__title-breadcrumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  About us
                </li>
              </ol>
            </nav>
          </div>
          <h1>Welcome to {{.Site.Params.company}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page title area end -->

<!-- about area start -->
<section class="about__area-2 pt-120 pb-120 box-105 p-relative">
  <div class="container-fluid">
    <div class="about__inner about__inner-3 p-relative">
      <div
        class="about__bg-img p-absolute"
        data-background="/assets/img/about/about-2.jpg"
      ></div>
      <div class="row">
        <div class="col-xl-6 offset-xl-6">
          <div class="about__content-wrapper pt-20 pl-85">
            <div class="section__title mb-30">
              <div class="section__icon mb-10">
                <span class="section__sub-title section__sub-title-2"
                  >{{.Params.aboutArea.span}}</span
                >
              </div>
              <h1 class="mb-100">{{.Params.aboutArea.title}}</h1>
            </div>

            <p>{{.Params.aboutArea.description}}</p>

            <div class="about__info-2 d-sm-flex mb-60">
              <div class="about__info-experience white-bg mr-40">
                <h1>{{.Params.aboutArea.boxTitle}}</h1>
              </div>
              <p>{{.Params.aboutArea.boxDescription}}</p>
            </div>
            <div class="about-bottom d-sm-flex">
              <div class="about-author mr-30 mb-30">
                <img src="assets/img/about/author.png" alt="" />
                <div class="ab-author">
                  <h3>{{.Params.aboutArea.name}}</h3>
                  <span>{{.Params.aboutArea.designation}}</span>
                </div>
              </div>
              <div class="about-btn mr-40 mb-30">
                <a
                  href="/about"
                  class="s-btn s-btn__square s-btn__square-2"
                  tabindex="0"
                  >more about us</a
                >
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-9">
            <div class="section__title mb-65 pt-10">
                <h2 class="mb-20">{{.Params.aboutArea.topic1}}</h2>
                <p>{{.Params.aboutArea.topic1detail}}</p>
                <h2 class="mb-20">{{.Params.aboutArea.topic2}}</h2>
                <p>{{.Params.aboutArea.topic2detail}} </p>
                <h2 class="mb-20">{{.Params.aboutArea.topic3}}</h2>
                <p>{{.Params.aboutArea.topic3detail}} </p>
                <h2>{{.Params.aboutArea.topic4}}</h2>
                <div class="why_list1 pt-20">
                            <ul>
                                <li>{{.Params.aboutArea.list1}}</li>
                                <li>{{.Params.aboutArea.list2}}</li>
                                <li>{{.Params.aboutArea.list3}}</li>
                                <li>{{.Params.aboutArea.list4}}</li>
                                <li>{{.Params.aboutArea.list5}}</li>
                                <li>{{.Params.aboutArea.list6}}</li>
                                <li>{{.Params.aboutArea.list7}}</li>
                                <li>{{.Params.aboutArea.list8}}</li>
                                <li>{{.Params.aboutArea.list9}}</li>
                                <li>{{.Params.aboutArea.list10}}</li>
                                <li>{{.Params.aboutArea.list11}}</li>
                                <li>{{.Params.aboutArea.list12}}</li>
                                <li>{{.Params.aboutArea.list13}}</li>
                                
                            </ul>
                        </div>
                
            </ul>    
            </div>
        </div>
    </div>
</div>
<!-- about area start -->

<!-- Mission & Vision Section -->
<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h3>{{.Params.aboutArea.mission}}</h3>
        <p>
         {{.Params.aboutArea.missioncontent}}</p>
      </div>
      <div class="col-md-1 d-none d-md-block">
        <div class="vr" style="height: 100%; border-left: 2px solid #1DA87D;"></div> <!-- Vertical Line -->
      </div>
      <div class="col-md-5">
        <h3>{{.Params.aboutArea.vision}}</h3>
        <p>
          {{.Params.aboutArea.visioncontent}} </p>
      </div>
    </div>
  </div>
  <!-- end Mission & Vision Section -->

<!-- testimonial area start -->
{{ partial "testimonial" . }}
<!-- testimonial area end -->

<!-- counter area start -->
{{partial "counter" .}}
<!-- counter area end -->

<!-- services history area start -->
<section class="services__history pt-110 pb-55">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="section__title mb-70 pl-50 pr-50 text-center">
          <h1>From the Beginning Successfully Providing Best Service</h1>
          <div class="section__icon mb-10">
            <span
              class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4"
              >service history</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>{{.Params.servicesHistory.service1Year}}</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >{{.Params.servicesHistory.service1Title}}</a
              >
            </h3>
            <p>{{.Params.servicesHistory.service1Explain}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>{{.Params.servicesHistory.service2Year}}</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >{{.Params.servicesHistory.service2Title}}</a
              >
            </h3>
            <p>{{.Params.servicesHistory.service2Explain}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>{{.Params.servicesHistory.service3Year}}</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >{{.Params.servicesHistory.service3Title}}</a
              >
            </h3>
            <p>{{.Params.servicesHistory.service3Explain}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>{{.Params.servicesHistory.service4Year}}</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >{{.Params.servicesHistory.service4Title}}</a
              >
            </h3>
            <p>{{.Params.servicesHistory.service4Explain}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services history area end -->

<!-- faq area start -->
{{ partial "faq" . }}
<!-- faq area end -->

{{ end }}
