<div class="sidebar-title mb-30">
  <h3>Book an Appointment</h3>
</div>
<div class="services__appointment-form">
  <form action="services-details.html#">
      <input type="text" placeholder="Name">
      <input type="email" placeholder="Email">
      <select>
          <option> Subject</option>
          <option> Choose an option</option>
          <option> Choose an option</option>
          <option> Choose an option</option>
          <option> Choose an option</option>
      </select>
      <textarea cols="30" rows="10" placeholder="Message"></textarea>
      <button class="s-btn s-btn__square s-btn__square-2">appointment now</button>
  </form>
</div>