<!-- counter area start -->
<section class="counter__area counter__overlay pt-110 pb-60 p-relative" data-background="">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="counter__item p-relative text-center mb-30">
                  <div class="counter__icon mb-25">
                      <span class="icon flaticon-support"></span>
                  </div>
                  <div class="counter__content">
                      <h3 class="counter">2950</h3>
                      <span>Psychologist</span>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="counter__item p-relative text-center mb-30">
                  <div class="counter__icon mb-25">
                      <span class="icon flaticon-house"></span>
                  </div>
                  <div class="counter__content">
                      <h3 class="counter">1520</h3>
                      <span> All Branches</span>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="counter__item counter__item-3rd p-relative text-center mb-30">
                  <div class="counter__icon mb-25">
                      <span class="icon flaticon-recovered"></span>
                  </div>
                  <div class="counter__content">
                      <h3 class="counter">3250</h3>
                      <span>Total Patient</span>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="counter__item counter__item-4th last-child-after p-relative text-center mb-30">
                  <div class="counter__icon mb-25">
                      <span class="icon flaticon-medal"></span>
                  </div>
                  <div class="counter__content">
                      <h3 class="counter">2150</h3>
                      <span>Achievement</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- counter area end -->