<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{.Site.Params.experience}} - {{.Site.Title}}</title>
  <meta
    name="description"
    content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}"
  />
  <meta
    name="keywords"
    content="{{ with .Params.keywords }}{{ . }}{{ else }}{{ with site.Params.keywords }}{{ . }}{{ end }}{{ end }}"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Place favicon.ico in the root directory -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/assets/img/favicon.jpg"
  />

  <!-- CSS here -->
  <link rel="stylesheet" href="/assets/css/preloader.css" />
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/slick.css" />
  <link rel="stylesheet" href="/assets/css/metisMenu.css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/flaticon.css" />
  <link rel="stylesheet" href="/assets/css/nice-select.css" />
  <link rel="stylesheet" href="/assets/css/default.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
