<!-- header area start -->
<header>
  <div class="header-area">
    <div class="header__top header__top-3 d-none d-md-block box-105">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-8">
            <div class="header__top-left">
              <div class="logo-2 logo-3">
                <a href="https://two44software.com"
                  ><img src="assets/img/logo/logo.png" alt="logo"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-xl-10 col-lg-9 col-md-8 col-sm-6 col-4">
            <div class="header__top-right d-flex justify-content-end">
              <div class="header__info d-none d-lg-flex">
                <div class="header__info-icon">
                  <span class="icon flaticon-history"></span>
                </div>
                <div class="header__info-text">
                  <span>{{.Params.content1}}</span>
                  <span> Sunday to Thursday</span>
                </div>
              </div>
              <div class="header__info d-none d-md-flex">
                <div class="header__info-icon">
                  <span class="icon flaticon-24-hours-support"></span>
                </div>
                <div class="header__info-text">
                  <span>Call us:</span>
                  <span>(202) 588-6500</span>
                </div>
              </div>
              <div class="header__info d-none d-md-flex">
                <div class="header__info-icon">
                  <span class="icon flaticon-envelope"></span>
                </div>
                <div class="header__info-text">
                  <span>e-mail:</span>
                  <span
                    ><a href="https://two44software.com" class="__cf_email__"
                      >{{.Site.Params.mobile}}</a
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="header-sticky" class="header__bottom-3 box-105">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-8 col-md-10 col-sm-6 col-8">
            <div class="main-menu main-menu-2 main-menu-3 d-none d-md-block">
              <nav>
                <ul>
                  <li>
                    <a href="/">home</a>
                  </li>
                  <li>
                    <a href="/">Bio</a>
                  </li>
                  <li>
                    <a href="/">Services</a>
                  </li>
                  <li>
                    <a href="/">Publications</a>
                  </li>
                  <li><a href="/">contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="logo-2 logo-3 text-center d-md-none">
              <a href="/"><img src="assets/img/logo/logo.png" alt="logo" /></a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-4 col-md-2 col-sm-6 col-4">
            <div
              class="header__bottom-3-right d-flex justify-content-end align-items-center"
            >
              <div class="social social-border d-none d-xl-block">
                <ul>
                  <li>
                    <a href="/"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-pinterest-p"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
              <div class="header__btn ml-35 d-none d-lg-block">
                <a href="/" class="s-btn s-btn__square">Contact Us Now</a>
              </div>
              <div
                class="header-bar header-bar-2 info-toggle-btn f-right d-md-block d-lg-none"
              >
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area start -->
