<!-- info area start -->
<section class="info__area transition-3">
  <div class="info__area-inner">
    <div class="info__area-wrapper info__area-wrapper-3">
      <div class="info__close-icon text-right">
        <button class="info-close-btn"><i class="fal fa-times"></i></button>
      </div>
      <div class="info__wrapper">
        <div class="info__logo mt-25 mb-30">
          <a href="/"
            ><img src="/assets/img/logo/logo.png" alt="logo"
          /></a>
        </div>
        <div class="info__contact">
          <h3>contact info</h3>
          <ul>
            <li>
              <div class="icon">
                <i class="fal fa-map-marker-alt"></i>
              </div>
              <div class="text">
                <span>{{.Site.Params.address}}</span>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fal fa-phone"></i>
              </div>
              <div class="text">
                <span>{{.Site.Params.mobile}} </span>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fal fa-envelope-open"></i>
              </div>
              <div class="text">
                <span
                  ><a href="{{.Site.Params.website}}" class="__cf_email__"
                    >{{.Site.Params.email}}</a
                  ></span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- side-mobile-menu start -->
    <nav class="side-mobile-menu side-mobile-menu-3">
      <div class="info__close-icon text-right mb-20">
        <button class="info-close-btn"><i class="fal fa-times"></i></button>
      </div>
      <ul id="mobile-menu-active">
        {{ range .Site.Data.header.nav }}
        <li>
          <a href="{{ .url }}">{{.name}}</a>
        </li>
        {{end}}
      </ul>
      <div class="ml-35">
        <a href="https://cal.com/florina-david-colar/15min" target="_blank" class="s-btn s-btn__square"
            >{{ .Site.Data.header.appointment }}</a
          >
      </div>
    </nav>
    <!-- side-mobile-menu end -->
  </div>
</section>
<div class="body-overlay transition-3"></div>
<!-- info area end -->
