<!-- pricing area start -->
<section class="pricing__area pt-110 pb-90">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
              <div class="section__title mb-70 text-center">
                  <h1>No Extra Hidden Charges! Choose Your Best Package</h1>
                  <div class="section__icon mb-10">
                      <span class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4">affordable Price</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="pricing__item mb-60">
                  <div class="pricing__thumb w-img p-relative mb-15">
                      <img src="/assets/img/pricing/price-1.jpg" alt="pricing">
                  </div>
                  <div class="pricing__content text-center pink-soft-bg p-relative">
                      <div class="pricing__price p-absolute d-flex align-items-center justify-content-center">
                          <div class="pricing__price-inner">
                              <h1>$35</h1>
                              <span>monthly</span>
                          </div>
                      </div>
                      <h2>Business</h2>
                      <p>Green dominion ther air whose and moveth shall whose him you are fruits   from appear moveth </p>
                      <p>Firmament waters woell air face cattle fish toll make itself the.</p>

                      <div class="pricing__btn p-absolute">
                          <a href="services.html#" class="s-btn s-btn__square-2">get started now</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="pricing__item mb-60">
                  <div class="pricing__thumb w-img p-relative mb-15 fix">
                      <img src="/assets/img/pricing/price-2.jpg" alt="pricing">
                      <div class="pricing__popular p-absolute">
                          <span>popular</span>
                      </div>
                  </div>
                  <div class="pricing__content p-relative text-center pink-soft-bg p-relative">
                      <div class="pricing__price p-absolute d-flex align-items-center justify-content-center">
                          <div class="pricing__price-inner">
                              <h1>$45</h1>
                              <span>monthly</span>
                          </div>
                      </div>
                      <h2>premium</h2>
                      <p>Green dominion ther air whose and moveth shall whose him you are fruits   from appear moveth </p>
                      <p>Firmament waters woell air face cattle fish toll make itself the.</p>

                      <div class="pricing__btn p-absolute">
                          <a href="services.html#" class="s-btn s-btn__square-2">get started now</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="pricing__item mb-60">
                  <div class="pricing__thumb w-img p-relative mb-15">
                      <img src="/assets/img/pricing/price-3.jpg" alt="pricing">
                  </div>
                  <div class="pricing__content text-center pink-soft-bg p-relative">
                      <div class="pricing__price p-absolute d-flex align-items-center justify-content-center">
                          <div class="pricing__price-inner">
                              <h1>$55</h1>
                              <span>monthly</span>
                          </div>
                      </div>
                      <h2>unlimited</h2>
                      <p>Green dominion ther air whose and moveth shall whose him you are fruits   from appear moveth </p>
                      <p>Firmament waters woell air face cattle fish toll make itself the.</p>

                      <div class="pricing__btn p-absolute">
                          <a href="services.html#" class="s-btn s-btn__square-2">get started now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- pricing area end -->