<!-- testimonial area start -->
<section class="testimonial__area-2 grey-bg-3 pt-110 pb-120">
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-9">
              <div class="section__title mb-65">
                  <div class="section__icon mb-10">
                      <span class="section__sub-title section__sub-title-2 section__sub-title-3">Patients Feedback</span>
                  </div>
                  <h1 class="mb-100">Happy Patient Feedback About our Service</h1>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-12">
              <div class="testimonial__slider-2 testimonial__slider-4">
                  <div class="testimonial__slider-2-active owl-carousel">
                      <div class="testimonial__item-2">
                          <div class="testimonial__item-inner green-bg-2 p-relative fix">
                              <p>Pede non libero iaculis nunc for tempus an luctus tristique fringilla euismod praesent. Taciti massa to nam feugiat laoreet consectetuer lacus. Velit idolet egestas hendrerit bibendum commodo fermentum</p>

                              <div class="testimonial__person testimonial__person-2 d-flex align-items-center">
                                  <div class="testimonial__avater">
                                      <img src="assets/img/testimonial/person-1.png" alt="">
                                  </div>
                                  <div class="testimonial__info">
                                      <h3>Eleonora Morgan</h3>
                                      <span>CEO & Founder</span>
                                  </div>
                              </div>

                              <div class="testimonial__quote-2 p-absolute">
                                  <span class="icon flaticon-quotation"></span>
                              </div>
                          </div>
                      </div>
                      <div class="testimonial__item-2">
                          <div class="testimonial__item-inner green-bg-2 p-relative fix">
                              <p>Pede non libero iaculis nunc for tempus an luctus tristique fringilla euismod praesent. Taciti massa to nam feugiat laoreet consectetuer lacus. Velit idolet egestas hendrerit bibendum commodo fermentum</p>

                              <div class="testimonial__person testimonial__person-2 d-flex align-items-center">
                                  <div class="testimonial__avater">
                                      <img src="assets/img/testimonial/person-2.png" alt="">
                                  </div>
                                  <div class="testimonial__info">
                                      <h3>David Macham</h3>
                                      <span>Sr. Executive</span>
                                  </div>
                              </div>

                              <div class="testimonial__quote-2 p-absolute">
                                  <span class="icon flaticon-quotation"></span>
                              </div>
                          </div>
                      </div>
                      <div class="testimonial__item-2">
                          <div class="testimonial__item-inner green-bg-2 p-relative fix">
                              <p>Pede non libero iaculis nunc for tempus an luctus tristique fringilla euismod praesent. Taciti massa to nam feugiat laoreet consectetuer lacus. Velit idolet egestas hendrerit bibendum commodo fermentum</p>

                              <div class="testimonial__person testimonial__person-2 d-flex align-items-center">
                                  <div class="testimonial__avater">
                                      <img src="assets/img/testimonial/person-3.png" alt="">
                                  </div>
                                  <div class="testimonial__info">
                                      <h3>Zimmy Carter</h3>
                                      <span>Creative Director</span>
                                  </div>
                              </div>

                              <div class="testimonial__quote-2 p-absolute">
                                  <span class="icon flaticon-quotation"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- testimonial area end -->