   <!-- why area start -->
   <section class="why__area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="why__area-3">
                    <div class="section__title mb-45">
                        <div class="section__icon mb-10">
                            <span class="section__sub-title section__sub-title-2 section__sub-title-3">Why choose us</span>
                        </div>
                        <h1>Best Method Apply our Patients</h1>
                    </div>
                    <div class="why__list">
                        <ul>
                            <li><h3>Psychodynamic Therapy</h3></li>
                            <li><h3>Personal Development</h3></li>
                            <li><h3>Motivational Speech</h3></li>
                            <li><h3>Mindtherafy Professional</h3></li>
                            <li><h3>Assesment Consultation</h3></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="why__img w-img">
                    <img src="/assets/img/why/why-img-02.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>