{{ define "main" }}

<!-- slider area start -->
<div class="slider-area slider-area-3 slider-has-arrow p-relative">
  <div class="slider-active">
    <div
      class="single-slider slider-height-3 slider-overlay slider-overlay-3 p-relative d-flex align-items-center"
      data-background="{{.Params.slider1.image}}"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 offset-xl-2 p-0">
            <div class="slider-content slider-content-3 text-center">
              <span data-animation="fadeInUp" data-delay=".2s"
                >{{.Params.slider1.span}}</span
              >
              <h2 data-animation="fadeInUp" data-delay=".4s">
                {{.Params.slider1.text}}
              </h2>

              <div
                class="slider-btn"
                data-animation="fadeInUp"
                data-delay=".6s"
              >
                <a
                  href="{{.Params.slider1.embed_youtube}}"
                  data-fancybox
                  class="play-btn play-btn-pink"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="single-slider slider-height-3 slider-overlay slider-overlay-3 p-relative d-flex align-items-center"
      data-background="{{.Params.slider2.image}}"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 offset-xl-2 p-0">
            <div class="slider-content slider-content-3 text-center">
              <span data-animation="fadeInUp" data-delay=".2s"
                >{{.Params.slider2.span}}</span
              >
              <h2 data-animation="fadeInUp" data-delay=".4s">
                {{.Params.slider2.text}}
              </h2>

              <div
                class="slider-btn"
                data-animation="fadeInUp"
                data-delay=".6s"
              >
                <a
                href="{{.Params.slider2.embed_youtube}}"
                  data-fancybox
                  class="play-btn play-btn-pink"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="single-slider slider-height-3 slider-overlay slider-overlay-3 p-relative d-flex align-items-center"
      data-background="{{.Params.slider3.image}}"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 offset-xl-2 p-0">
            <div class="slider-content slider-content-3 text-center">
              <span data-animation="fadeInUp" data-delay=".2s"
                >{{.Params.slider3.span}}</span
              >
              <h2 data-animation="fadeInUp" data-delay=".4s">
                {{.Params.slider3.text}}
              </h2>

              <div
                class="slider-btn"
                data-animation="fadeInUp"
                data-delay=".6s"
              >
                <a
                  href="{{.Params.slider3.embed_youtube}}"
                  data-fancybox
                  class="play-btn play-btn-pink"
                  ><i class="fa fa-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider area end -->

<!-- features area start -->
<section
  class="features-area features-area-border p-relative pink-soft-bg-3 pb-90 pt-120 box-105"
>
  <div class="container-fluid features__wrapper">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div
          class="features__item d-flex white-bg transition-3 border-radius-8 box-shadow mb-30"
        >
          <div class="features__icon">
            <span class="icon flaticon-happy"></span>
          </div>
          <div class="features__content">
            <h3>{{.Params.card1.title}}</h3>
            <p>
              {{.Params.card1.description}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div
          class="features__item d-flex white-bg transition-3 border-radius-8 box-shadow mb-30"
        >
          <div class="features__icon">
            <span class="icon flaticon-psychologist"></span>
          </div>
          <div class="features__content">
            <h3>{{.Params.card2.title}}</h3>
            <p>
              {{.Params.card2.description}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div
          class="features__item d-flex white-bg transition-3 border-radius-8 box-shadow mb-30"
        >
          <div class="features__icon">
            <span class="icon flaticon-24-hours-support-1"></span>
          </div>
          <div class="features__content">
            <h3>{{.Params.card3.title}}</h3>
            <p>
              {{.Params.card3.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features area end -->

<!-- about area start -->
<section class="about__area-3 mb-120 box-105 pt-180 p-relative white-bg">
  <div
    class="about__bg-img about__bg-img-3 p-absolute"
    data-background="{{.Params.imageCard.image}}"
  >
    <div class="about__info-experience-3 p-absolute">
      <h2>{{.Params.imageCard.title}}</h2>
      <p>{{.Params.imageCard.description}}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 offset-xl-5 col-lg-6 offset-lg-6">
        <div class="about__content-wrapper about__content-wrapper-3 pr-35">
          <div class="section__title mb-30">
            <div class="section__icon mb-10">
              <span
                class="section__sub-title section__sub-title-2 section__sub-title-3"
                >{{.Params.welcomeSpan.span}}</span
              >
            </div>
            <h1 class="mb-100">
              {{.Params.welcomeHead.title}}
            </h1>
          </div>

          <p>
           {{.Params.welcomeHead.description}}
          </p>

          <div class="about__info-3">
            <div class="about__info-item d-flex">
              <div class="about__info-icon mr-25">
                <span class="icon flaticon-psychologist"></span>
              </div>
              <div class="about__info-text">
                <h3>{{.Params.welcomeHead1.title}}</h3>
                <p>
                  {{.Params.welcomeHead1.description}}
                </p>
              </div>
            </div>
            <div class="about__info-item d-flex">
              <div class="about__info-icon mr-25">
                <span class="icon flaticon-happy about__info-icon-pink"></span>
              </div>
              <div class="about__info-text">
                <h3>{{.Params.welcomeHead2.title}}</h3>
                <p>
                  {{.Params.welcomeHead2.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about area start -->

<!-- services area start -->
<section class="services__area-2 pt-110 pb-90">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
              <div class="section__title mb-70 text-center">
                  <h1>Professional Psychology Therapy Service You Can Choose</h1>
                  <div class="section__icon mb-10">
                      <span class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4">affordable Services</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        {{ partial "services" . }}
        <div class="row">
          {{ range .Pages }}
          {{ .Render "services"  }}
          {{ end }}
        </div>
      </div>
  </div>
</section>

<!-- services area end -->

<!-- team area start -->
<section class="team__area pb-90 pt-110">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="section__title mb-70 text-center">
          <h1>{{.Params.teamArea.title}}/h1>
          <div class="section__icon mb-10">
            <span
              class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4"
            >
             {{.Params.teamArea.span}}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="team__item mb-30">
          <div class="team__thumb w-img fix p-relative">
            <img
              class="transition-3"
              src="{{.Params.teamMember1.image}}"
              alt="team-1"
            />
          </div>
          <div class="team__content text-center white-bg transition-3">
            <div class="team__name">
              <h3><a href="team-details.html">{{.Params.teamMember1.name}}</a></h3>
              <span>{{.Params.teamMember1.span}}</span>
            </div>
            <div class="team__info">
              <p>
                <a
                  href="https://wphix.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  >{{.Params.teamMember1.email}}</a
                >
              </p>
              <div class="team__social-2 social transition-3 mt-20">
                <ul>
                  <li>
                    <a href="{{.Params.teamMember1.facebook}}"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{.Params.teamMember1.twitter}}"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="{{.Params.teamMember1.pinterest}}"
                      ><i class="fab fa-pinterest-p"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="team__item mb-30">
          <div class="team__thumb w-img fix p-relative">
            <img
              class="transition-3"
              src="{{.Params.teamMember2.image}}"
              alt="team-1"
            />
          </div>
          <div class="team__content text-center white-bg transition-3">
            <div class="team__name">
              <h3><a href="team-details.html">{{.Params.teamMember2.name}}</a></h3>
              <span>{{.Params.teamMember2.span}}</span>
            </div>
            <div class="team__info">
              <p>
                <a
                  href="https://wphix.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  >{{.Params.teamMember2.email}}</a
                >
              </p>
              <div class="team__social-2 social transition-3 mt-20">
                <ul>
                  <li>
                    <a href="/"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team area end -->

<!-- counter area start -->
{{partial "counter" .}}
<!-- counter area end -->

<!-- why area start -->
<section class="why__area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="why__area-3">
          <div class="section__title mb-45">
            <div class="section__icon mb-10">
              <span
                class="section__sub-title section__sub-title-2 section__sub-title-3"
                >{{.Params.whyChooseArea.span}}</span
              >
            </div>
            <h1>{{.Params.whyChooseArea.title}}</h1>
          </div>
          <div class="why__list">
            <ul>
              <li><h3>{{.Params.whyChooseArea.list1}}</h3></li>
              <li><h3>{{.Params.whyChooseArea.list2}}</h3></li>
              <li><h3>{{.Params.whyChooseArea.list3}}</h3></li>
              <li><h3>{{.Params.whyChooseArea.list4}}</h3></li>
              <li><h3>{{.Params.whyChooseArea.list5}}</h3></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <div class="why__img w-img">
          <img src="{{.Params.whyChooseArea.image}}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why area end -->

<!-- testimonial area start -->
{{partial "testimonial" .}}
<!-- testimonial area end -->

<!-- contact area start -->
<section
  class="contact-area contact__area-3 pt-120"
  data-background="assets/img/contact/contact-bg.jpg"
>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-6 offset-xl-6">
        <div
          class="contact__wrapper contact__wrapper-3 green-bg-2 pr-105 pl-100 pt-95 pb-100"
        >
          <div class="section__title mb-45">
            <div class="section__icon mb-10">
              <span
                class="section__sub-title section__sub-title-2 section__sub-title-3"
                >any problem</span
              >
            </div>
            <h1 class="white-color">Don’t Hesitate to share your problem, Contact us
</h1>
          </div>
          <div class="contact__form">
            <form
              contact-form
              action="https://wphix.com/template/sycho-prv/sycho/assets/mail.php"
              method="POST"
            >
              <div class="row">
                <div class="col-xl-6">
                  <input
                    name="name"
                    class="contact__input contact__input-3"
                    type="text"
                    placeholder="Your Name"
                  />
                </div>
                <div class="col-xl-6">
                  <input
                    name="email"
                    class="contact__input contact__input-3"
                    type="email"
                    placeholder="E-mail Address"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <input
                    name="subject"
                    class="contact__input contact__input-3"
                    type="text"
                    placeholder="Phone Number"
                  />
                </div>
                <div class="col-xl-6">
                  <select class="contact__input contact__input-3">
                    <option value="">Choose Problem</option>
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                    <option value="">Option 4</option>
                    <option value="">Option 5</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <textarea
                    name="message"
                    class="contact__input contact__input-3 txt-area"
                    cols="30"
                    rows="10"
                    placeholder="Write Message"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <button
                    class="s-btn s-btn__square s-btn__square-white"
                    type="submit"
                  >
                    submit message
                  </button>
                </div>
              </div>
            </form>
            <p class="ajax-responsive"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact area end -->

{{ end }}
