{{define "main" }}
<!-- page title area start -->
<section class="page__title p-relative pt-200 pb-200" data-background="{{.Params.breadcrumbsImage.image}}">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="page__title-inner text-center">
                  <div class="page__title-breadcrumb">                                 
                          <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="https://wphix.com/template/sycho-prv/sycho/index.html">{{.Params.breadcrumbsImage.list1}}</a></li>
                              <li class="breadcrumb-item active" aria-current="page">{{.Params.breadcrumbsImage.list}}</li>
                          </ol>
                          </nav>
                  </div>
                  <h1>{{.Params.breadcrumbsImage.title}}</h1>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- page title area end -->
  
<!-- contact area start -->
<section class="contact__area pt-120 pb-120">
  <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-5">
              <div class="contact__info-head mb-40">
                  <div class="section__title mb-25">
                      <div class="section__icon mb-10">
                          <span class="section__sub-title section__sub-title-2 section__sub-title-3">Contact info</span>
                      </div>
                      <h1>Have Any Questins Or Emergency Problem Contact With Us</h1>
                  </div>
                  <p>{{.Params.contactArea.description}} </p>
              </div>
          </div>
          <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1">
              <div class="contact__form">
                  <form id="contact-form" action="https://wphix.com/template/sycho-prv/sycho/assets/mail.php" method="POST">
                      <div class="row">
                          <div class="col-xl-6">
                              <input name="name" class="contact__input contact__input-3 contact__input-4" type="text" placeholder="Your Name">
                          </div>
                          <div class="col-xl-6">
                              <input name="email" class="contact__input contact__input-3 contact__input-4" type="email" placeholder="E-mail Address">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-6">
                              <input name="subject" class="contact__input contact__input-3 contact__input-4" type="text" placeholder="Phone Number">
                          </div>
                          <div class="col-xl-6">
                              <select class="contact__input contact__input-3 contact__input-4">
                                  <option value="">{{.Params.chooseProblem.list1}}</option>
                                  <option value="">{{.Params.chooseProblem.list2}}</option>
                                  <option value="">{{.Params.chooseProblem.list3}}</option>
                                  <option value="">{{.Params.chooseProblem.list4}}</option>
                                  <option value="">{{.Params.chooseProblem.list5}}</option>
                                  <option value="">{{.Params.chooseProblem.list6}}</option>
                              </select>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-12">
                              <textarea name="message" class="contact__input contact__input-3 contact__input-4 txt-area " cols="30" rows="10" placeholder="Write Message"></textarea>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-12">
                              <button class="s-btn s-btn__square" type="submit">submit message</button>
                          </div>
                      </div>
                  </form>
                  <p class="ajax-response"></p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- contact area end -->

<!-- contact info area start -->
<section class="contact__info p-relative">
  <div class="container">
      <div class="contact__info-inner green-bg-2">
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="contact__info-item text-center text-sm-left d-sm-flex justify-content-lg-center mb-30">
                      <div class="contact__icon mr-20">
                          <span class="icon flaticon-house"></span>
                      </div>
                      <div class="contact__info-content">
                          <h3>Our Address</h3>
                          <span>{{.Site.Params.address}}</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="contact__info-item text-center text-sm-left d-sm-flex justify-content-lg-center mb-30">
                      <div class="contact__icon mr-20">
                          <span class="icon flaticon-support-1"></span>
                      </div>
                      <div class="contact__info-content">
                          <h3>Phone Number</h3>
                          <span>{{.Site.Params.mobile}} </span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="contact__info-item text-center text-sm-left d-sm-flex justify-content-lg-center mb-30">
                      <div class="contact__icon mr-20">
                          <span class="icon flaticon-email"></span>
                      </div>
                      <div class="contact__info-content">
                          <h3>Email Support</h3>
                          <span><a href="/" class="__cf_email__">{{.Site.Params.email}}</a></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- contact info area end -->

<!-- contact map area start -->
<section class="contact__map-area mt--120">
  <div class="container-fluid p-0">
      <div class="row no-gutters">
          <div class="col-xl-12">
              <div class="contact__map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.425244634413!2d-78.91844532344678!3d35.81404097254476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acec6d377c1247%3A0x882b80f808fdb8ac!2s418%20Waverly%20Hills%20Dr%2C%20Cary%2C%20NC%2027519%2C%20USA!5e0!3m2!1sen!2sin!4v1721055585228!5m2!1sen!2sin" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <!-- <iframe src="https://maps.google.com/maps?hl=en&amp;q=Dhaka+()&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" ></iframe> -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- contact map area end -->

{{ end }}